# {{ ansible_managed }}

{% if item.command_alias is defined %}
{% for key, value in item.command_alias.items() %}
Cmnd_Alias {{ key }} = {{ value }}
{% endfor %}
{%endif %}

{% if item.commands is not defined %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} ALL
{% elif item.commands is string %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} {{ item.commands }}
{% elif item.commands is iterable and item.commands is not string %}
{{ item.name }} {{ item.hosts | default('ALL') }}={{ "(" ~ item.users | default('ALL') ~ ":" ~ item.groups | default('ALL') ~ ")" }} {{ "NOPASSWD:" if item.nopasswd | default(false) else "" }} {{ item.commands | join(', ') }}
{% endif %}
